# Ignore node_modules directory
node_modules/

# Ignore any files ending with .log
*.log

# Ignore .env files which contain sensitive information
.env

# Ignore build output directories
dist/
build/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
